
    <main>
      <h1>
        {{#if title}}
          {{title}}
        {{else}}
           BROWSER
        {{/if}}
      </h1>

      <form action="/search" method="GET">
        <input value="{{search}}"" type="text" class="search" name="search" placeholder="Search...">
        <input value="{{from}}"" type="number" name="from" class="difficulty" placeholder="Difficulty from...">
        <span>-</span>
        <input value="{{to}}" type="number" name="to" class="difficulty" placeholder="Difficulty to...">
        <input type="submit" value="search">
      </form>
      <div class="cubes">
        
        {{#each cubes}} 
        {{!-- cubes comes from homeController, we received it from render method as data --}}
          {{> cube}}  
          {{!-- cube comes from partials/cube.hbs --}}
        {{/each}}
      </div>

    </main>
